$--colors: (
  "primary": (
    // 민트
    "base": #1890ff
  ),
  "success": (
    "base": #21ba45,
  ),
  "warning": (
    "base": #ea9156,
  ),
  "danger": (
    "base": #ff4400,
  ),
);



// we can add this to custom namespace, default is 'el'
// @forward "element-plus/theme-chalk/src/mixins/config.scss" with (
//   $namespace: "ep"
// );

// You should use them in scss, because we calculate it by sass.
// comment next lines to use default color
@forward "element-plus/theme-chalk/src/common/var.scss" with (
  // do not use same name, it will override.
  $colors: $--colors,

  $button: (
    "font-weight": '700',
  ),

  // element-plus input style
  $input: (
    "border-color": none,
    "bg-color": #f5f7fa10,
    "border-hover-color": #c0c4cc,
    "border-focus-color": #00b5ad,
  ),
  $select: (
    "border-color": none,
    "bg-color": #f5f7fa10,
    "border-hover-color": #c0c4cc,
    "border-focus-color": #00b5ad,
  ),
);

// if you want to import all
// @use "element-plus/theme-chalk/src/index.scss" as *;

// You can comment it to hide debug info.
// @debug $--colors;

// custom dark variables
@use "./dark.scss";
