@import './base.css';

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

html *  {
  font-family: 'Pretendard', sans-serif;

}

#app {
  position: relative;
  font-weight: normal;
}

// 스크롤 스타일
// ::-webkit-scrollbar {
//   width: 10px;
//   height: 10px;
// }

// ::-webkit-scrollbar-track {
//   background: var(--vt-c-indigo);
//   border-radius: 100px;
  
// }

// ::-webkit-scrollbar-thumb {
//   background: var(--vt-c-text-dark-2);
//   border-radius: 10px;

//   &:hover {
//     background: var(--vt-c-text-dark-1);
//   }
// }

.el-input {
  background: var(--vt-c-black-mute);
  border-radius: 6px !important;
  border: none !important;
}
.el-input__wrapper {
  border-radius: 6px !important;
  border: none !important;
  box-shadow: none !important;
}

.el-input__wrapper:hover {
  border-color: none;
  box-shadow: 0 0 0 1px var(--el-input-border-color,var(--el-border-color)) inset !important;
}

.el-input__wrapper:focus {
  border-color: none;
  box-shadow: 0 0 0 1px var(--el-input-focus-border) inset !important;
}

.el-input__inner {
  display: flex !important;
  border: none !important;
  background: var(--vt-c-black-mute);
}

.el-input__inner:focus {
  border-color: var(--color-border-hover);
  box-shadow: none;
}

.el-input__inner:hover {
  border-color: none;
  box-shadow: none;
}
.el-input__prefix {
  width: auto;
  .el-input__prefix-inner {
    color: var(--vt-c-text-dark-2);
  }
}

// 모달 오픈시 뒷 배경
.el-dialog{
  position: absolute !important;
 border-radius: 16px !important;
 top: 50% !important;
 left:50% !important;
 transform: translate(-50%, -50%) !important;
 margin: 0px !important;
 

}

.el-overlay {
  background: rgba(231, 232, 255, 0.3) !important;
}